body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px;
}

.navigation {
  display: flex;
}

.logo {
  color: white;
}

.nav-links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 10px;
  margin: 0 15px;
  color: white;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.btn {
  margin: 0 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
}
